@model Trip
@{
    Layout = null;
    int userId = int.TryParse(User.FindFirstValue("CustomUserId"), out int tempUserId) ? tempUserId : -1;
}

<form asp-action="Create" class="m-2">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CreatorId" value="@userId" />

    <div class="form-group">
        <input asp-for="Name" class="form-control form-control-sm" placeholder="Trip name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateFrom" class="control-label"></label>
        <input asp-for="DateFrom" class="form-control form-control-sm" />
        <span asp-validation-for="DateFrom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateTo" class="control-label"></label>
        <input asp-for="DateTo" class="form-control form-control-sm" />
        <span asp-validation-for="DateTo" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="file" name="imageFile" accept=".png, .jpg, .jpeg, .gif" class="form-control form-control-sm" />
    </div>

    <div class="form-group btn-group align-items-end mt-2">
        <button class="btn btn-info btn-sm" 
                hx-post="@Url.Action("Create", "Trips")"
                hx-target="body"
                hx-swap="innerHTML"
                hx-encoding="multipart/form-data">
            Save
        </button>
        <a href="@Url.Action("Index", "Trips")" class="btn btn-outline-secondary btn-sm">Cancel</a>
    </div>
</form>

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@