@using EventSharedExpenseTracker.MvC.ViewModels.Trips
@model TripDetailsViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
    int randRotate = new Random().Next(1, 5);
}

@*PEOPLE + EXPENSES*@
@*<form asp-action="Edit">*@
<div class="row mb-1">
    <div class="col" style="min-width: 375px; max-width:450px;">

        <div class="card shadow bg-light border-0 rounded-0 p-2 mb-3 rotated-@randRotate" style="min-height: 300px;">

            @*PHOTO CARD*@
            <partial name="_TripDetails_Card" model="Model" />

            @*TRIP CONTROLS*@
            @if (Model.CanUserEdit)
            {
                <partial name="_TripDetails_Controls" model="Model" />
            }

            <div id="@Model.EIdSearchParticipants" class="d-flex flex-wrap gap-1 mt-2">
                @*DIV FOR SEARCH RESULTS*@
            </div>

            @*PARTICIPANTS*@
            <partial name="_TripDetails_Participants" model="Model.TripParticipants" />
      Trip      
            <small class="text-muted">
               double click to delete user or edit expense
            </small>
        </div>
    </div>


    @*COL OF EXPENSES*@
    <div class="col" style="min-width: 330px; min-height: 750px; max-height: 750px;overflow-y: auto;">
        <section>
                <partial name="~/Views/Expenses/_ExpenseIndex.cshtml" model="Model.ExpenseIndex" />
        </section>
    </div>
</div>
@*</form>*@


