@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Trip Shared Expense Calculator</h1>
    <p>Where you can keep track of your multiperson trips or events expenses.</p>
</div>
