@using EventSharedExpenseTracker.Domain.Enums
@using EventSharedExpenseTracker.MvC.ViewModels.Expenses
@model ExpenseFormViewModel

@{
    Layout = null;
}

<div class="col-lg-7 md-6 sm-5">
    <form asp-action="@Model.Mode.ToString()">
        <input type="hidden" asp-for="Id" /> @*Needed because in edit i need to send id in the model to POST*@
        @*<input type="hidden" asp-for="CreatorId" />*@
        <input type="hidden" asp-for="CanUserEdit" />
        <input type="hidden" asp-for="TripId" />

        <div class="form-group mb-1">
            <input asp-for="Name" class="form-control" placeholder="Expense Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="col">
                <select class="form-select" asp-for="Category"
                        asp-items = "Html.GetEnumSelectList<ExpenseCategory>()">
                    <option value="">Select Category</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
        </div>


        @*PARTIAL PARTICIPANTS ROWS*@
        <div class="my-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_ExpenseForm_ParticipantRows" for="Participants" /> @*for="Participants" is important to keep bindings of payments in partial view*@
        </div>

        @if (!Model.CanUserEdit)
        {
            <div>
                <span class="text-info">You cant edit or delete expense as you didnt create it</span>
            </div>
        }
         
        <div class="btn-group">
            @if (Model.CanUserEdit)
            {
                @*innerHTML - there are two ways:
                    1. Save was not validated, so response (which is this), needs to go inside the targeting div, otherwise any other target on that div will not work
                    2. Save was successful - then whole body is taken from response (because also participants sums need to be updated), and in that case it doesnt matter
                *@
                <button type="submit" class="btn btn-info"
                        hx-post="@Url.Action(Model.Mode.ToString(), "Expenses", new { tripId = Model.TripId, id = Model.Id })"
                        hx-target="body"
                        hx-swap="innerHTML">
                    Save
                </button>
            }

            @*outerHTML - because im selecting the ID from response for whole page*@
            <button type="button" class="btn btn-outline-secondary"
                    hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId , id = Model.Id})" 
                    hx-target="#@Model.ElementId"
                    hx-select="#@Model.ElementId"
                    hx-swap="outerHTML">
                Cancel
            </button>

            @if (Model.CanUserEdit && Model.FormIsEdit)
            {

                <button type="button" class="btn btn-outline-danger"
                        hx-post="@Url.Action("Delete", "Expenses", new { id = Model.Id, tripId = Model.TripId })"
                        hx-target="body"
                        hx-push-url="true"
                        hx-confirm="Are you sure you want to delete this item?">
                    Delete
                </button>
               
            }
        </div>
    </form>
</div>


