
.photo-card {
    position: relative;
    background: #f8f7f2;
    filter: drop-shadow( 1px 1px 2px rgba(0,0,0,.2) );
    transform: rotate(var(--rotation, 0deg));
    container-type: inline-size;
}

    .photo-card:hover img {
        transform: scale(1.2);
    }

.photo-card-slot {
    --slot-color: black;
    position: relative;
    background: transparent;
    border: 1px dashed var(--slot-color);
    color: var(--slot-color);
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 165px;
    max-width: 325px;
    min-height: 260px;
}

@media (min-width: 992px) {
    .photo-card-slot {
        min-width: 225px;
    }
}

/* Light theme */
[data-bs-theme="light"] .photo-card-slot {
    --slot-color: rgb(120,120,120);
}

/* Dark theme */
[data-bs-theme="dark"] .photo-card-slot {
    --slot-color: rgb(120,120,120);
}

/* Corners inherit the same color */
.photo-card-slot .photo-corner {
    border-color: var(--slot-color);
}

.photo-card-font {
    font-family: 'Unseeness', sans-serif;
}

.photo-card-media {
    overflow: hidden;
    position: relative;
}

    .photo-card-media img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.5s ease-in-out;
    }

.photo-card--small {
    min-width: 165px;
    max-width: 325px;
    min-height: 260px;
}

    .photo-card--small .photo-card-media {
        height: 200px;
    }

.photo-card--details {
    width: 100%;
    max-width: 500px;
    min-height: 325px;
}

.details-card-wrapper {
    width: min(100%, 520px);
}

.photo-card--details .photo-card-media {
    height: 285px;
}

@media (min-width: 992px) {
    .photo-card--details .photo-card-media {
        height: 450px;
    }
}

.p-2-5 {
    padding: 0.75rem;
}

.photo-card-title {
    font-family: 'Unseeness', sans-serif;
    font-size: clamp(1rem, 11cqw, 3rem);
    line-height: 1;
}

.photo-card-subtitle {
    font-family: 'Unseeness', sans-serif;
    font-size: clamp(0.75rem, 5cqw, 1.1rem);
}


.event-grid {
    flex: 1 1 165px;
    max-width: 325px;
    min-width: 165px;
}

@media (min-width: 768px) {
    .event-grid {
        flex: 1 1 250px;
    }
}

/*PHOTO CORRNERS*/
.photo-corner {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 11px solid color-mix( in srgb, var(--trip-color, #adb5bd) 75%, white );
    pointer-events: none;
    /*box-shadow: 1px 1px 3px rgba(0,0,0,.35);*/
    filter: drop-shadow( 1px 1px 2px rgba(0,0,0,.2) );
    z-index: 10;
    pointer-events: none;
}

.photo-corner.top-left {
    top: -3px;
    left: -3px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.photo-corner.top-right {
    top: -3px;
    right: -3px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
 }

.photo-corner.bottom-left {
    bottom: -3px;
    left: -3px;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.photo-corner.bottom-right {
    bottom: -3px;
    right: -3px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
